<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="d2m">

	<update id="sample01" parameterType="int">
		UPDATE 
				PRODUCT
		SET
				PRICE = PRICE + 1
		WHERE
				PRODUCT_CD = #{productCd}
	</update>
	
	<update id="sample02" parameterType="String">
		
		UPDATE 
			PRODUCT
		SET
			DELIVERY_PRICE = DELIVERY_PRICE - 1
		WHERE
			BRAND_CD = #{brandCd}
	
	</update>
	
	<select id="sample03" parameterType="String" resultType="BrandDTO">
		SELECT 
				* 
		FROM
				BRAND 
		WHERE 
				BRAND_NM = #{brandNm}		
		
	
	</select>
	
	
	<insert id="sample04" parameterType="BrandDTO">
	
	INSERT INTO 
			BRAND
	VALUES(
		#{brandCd}, #{brandNm}, NOW(), #{active_Yn}
	
	
	)
	
	
	
	</insert>
	
	<insert id="sample05" parameterType="ProductDTO">
	
		INSERT INTO PRODUCT(
			PRODUCT_NM,
			PRICE,
			DELIVERY_PRICE,
			ENROLL_DT,
			BRAND_CD
		
		)
		
		VALUES(
		#{productNm},
		#{price},
		#{deliveryPrice},
		NOW(),
		#{brandCd}
		
		
		)
	
		
	
	</insert>
	
	<select id="sample06" parameterType="ProductDTO" resultType="ProductDTO">
	
	SELECT 
		*
	FROM 
		PRODUCT
	WHERE 
		PRICE > #{price}
	AND
		DELIVERY_PRICE = #{deliveryPrice}
	
	
	
	</select>
	
	<select id="sample07" parameterType="hashmap" resultType="ProductDTO">
	
		SELECT 
			*
		FROM
			PRODUCT
		WHERE 
			PRICE BETWEEN #{min} AND ${max}
		
		
	
	</select>
	
	<select id="sample08" parameterType="hashmap" resultType="BrandDTO">
		SELECT 
			*
		FROM 
			BRAND 
		WHERE 
			ENTERED_DT BETWEEN #{startDate} AND #{endDate}
	
	
	</select>
	
	
	<select id="sample09" parameterType="hashmap" resultType="hashmap">
	
	SELECT 
			*
	FROM 
		PRODUCT P 
		INNER JOIN BRAND B 
				ON P.BRAND_CD = B.BRAND_CD
	WHERE 
		P.PRICE >= #{price}
	AND
		B.ACTIVE_YN = #{activeYn}
	</select>
	
	
	
	
	

</mapper>